*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  -webkit-overflow-scrolling: touch; /* Add smooth scrolling on mobile devices */
}
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
header{
    width: 100%;
    display: flex;
    height: 12vh;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 2; /* to always on top*/
}
header .back{
    text-decoration: none;
    color: black;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    left: 2%;
    padding: 1%;
    border-radius: 9px;
    box-shadow: 1px 2px 1px 1px whitesmoke;
    /* border: 1px solid rgb(219, 218, 218); */
}
header .back:hover{
    transform: scale(.95);
}

main{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 13vh auto ;
  padding: 2rem 0;
  gap: 15px;
  box-shadow: 1px 2px 2px 2px whitesmoke;
}

.mySlides1, .mySlides2 {
  display: none
}
img {
  vertical-align: middle;
  border-radius: 7px;
}

.projectCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    padding-bottom: 10px;
    border-radius: 7px;
    box-shadow: 1px 2px 2px 2px rgb(96, 96, 96);
}
/* Slideshow container */
.slideshowContainer {
  max-width: 1000px;
  position: relative;
  padding: 1px;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 7px;
  margin: -22px 2px 0 2px;
  margin-top: -22px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 7px 7px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 7px 0 0 7px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: rgba(157, 157, 157, 0.518);
  color: black;
}

.description{
  /* margin: 5px; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.description a{
  text-decoration: none;
  border-radius: 4px;
  padding: 8px;
  color: rgb(0, 39, 130);
  box-shadow: 1px 2px 2px 2px rgb(96, 121, 181);
}
@media screen and (max-width: 1000px) {
  .projectCard{
    width: 65%;
}
}